# --- Building ---
# Build Directories
/output/
/build/

# Build Files
*.elf
*.self
*.pkg
*.map

# --- Logging ---
# Log files
*.log

# Web Server Deps
node_modules/

# --- Misc ---
# VScode
/.vscode/


